.header {
  display: flex;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
  .home & {
    padding-bottom: 0;
  }
}

.header__wrapper {
  width: 100%;
  background-size: cover;
  padding: $spacing-normal 0;
  display: flex;
  align-items: flex-end;
  .home & {
    padding-bottom: 0;
  }
}

.header__banner {
  display: flex;
  align-items: center;
}

.header__avatar-link {
  display: block;
  margin-right: $spacing-normal;
  @include height(2);
  background: transparent;
  position: relative;
  overflow: hidden;
  &:hover .header__avatar {
    opacity: 1;
  }
  @include mobile {
    //margin: 0 $spacing-small $spacing-normal 0;
    @include height(0);
    text-align: center;
  }
}

.header__avatar__wrapper {
  background: $black;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: 5px;
  @include mobile {
    width: 60px;
    height: 60px;
  }
}

.header__avatar {
  opacity: .75;
  transform: translateZ(0);
  transition: opacity .2s ease-in-out;
  border-radius: 3px;
  @include mobile {
    margin: 0 auto;
  }
}

.header__site-info {
  margin: 0;
}

.header__site-name__link {
  color: $color-primary;
  font-size: $font-size-huge;
  letter-spacing: -.15rem;
  @include mobile {
    font-size: $font-size-large;
  }
  &:hover {
    color: $color-primary-dark;
    text-decoration: none;
  }
}

.header__site-description {
  margin: 0;
  padding: 0;
  font-size: $font-size-tiny;
  @include mobile {
    display: none;
  }
}

.header__site-description a {
  color: $color-primary;
  &:hover {
    color:$color-primary-dark;
  }
}

.header__featured-book {
  width: 100%;
  display: flex;
  background: $color-primary;
  background: linear-gradient(0, $color-primary-dark, $color-primary);
  color: $white;
  margin: -#{$spacing-small + $spacing-large + $spacing-small} 0 0;
  padding: $spacing-normal;
  position: relative;
  /*&:before, &:after {
    display: block;
    content: "";
    background: $black;
    top: 0;
    bottom: 0;
    right: 100%;
    left: -50vw;
    position: absolute;
  }
  &:after {
    left: 100%;
    right: -50vw;
  }*/
}

.header__featured-book__info {
  margin-right: $spacing-normal;
}

.header__featured-book__read-more {
  display: inline-block;
  margin-top: $spacing-normal;
  text-decoration: none;
  color: $white;
  &:hover {
    color: $white;
  }
}

.header__featured-book__img__link {
  order: 0;
  width: 450px;
  display: inline-block;
  margin-top: 0;
  line-height: 0;
  border-radius: 3px;
  @include height(1);
  overflow:hidden;
}

.header__featured-book__img {
  width: 100%;
  height: auto;
}

.header__featured-book__title {
  color: $white;
  font-size: $font-size-large;
  a {
    color: $white;
    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }
}
