.header {
  display: flex;
  align-items: center;
  padding: $spacing-small;
  text-shadow: 1px 1px 0 $black,
               1px 1px 5px rgba($black, .75);
  @include mobile {
    flex-wrap: wrap;
  }
}

.header__wrapper {
  width: 100%;
  background: $color-primary;
  background: linear-gradient( 0deg, darken($color-primary, 20), $color-primary );
  background-size: cover;
  padding: $spacing-normal;
  color: $white;
  display: flex;
  align-items: flex-end;
  .default & {
    min-height: 60vh;
  }
}

.header__avatar-link {
  display: block;
  margin-right: $spacing-normal;
  @include height(2);
  background: transparent;
  position: relative;
  overflow: hidden;
  &:hover .header__avatar {
    opacity: 1;
  }
  @include mobile {
    width: 100%;
    margin: 0 auto $spacing-normal;
    @include height(0);
    text-align: center;
  }
}

.header__avatar__wrapper {
  background: $black;
  overflow: hidden;
  width: 120px;
  height: 120px;
}

.header__avatar {
  opacity: .75;
  transform: translateZ(0);
  transition: opacity .2s ease-in-out;
  border-radius: 3px;
  @include mobile {
    margin: 0 auto;
  }
}

.header__site-info {
  margin: 0;
}

.header__site-name__link {
  color: $white;
  font-size: $font-size-huge;
  &:hover {
    color: $color-primary-light;
    text-decoration: none;
  }
}

.header__site-description {
  margin: 0;
  padding: 0;
  font-size: $font-size-tiny;
}

.header__site-description a {
  color: $white;
  &:hover {
    color:$color-primary;
  }
}
