.nav {
    margin: 0 auto;
    max-width: $max-width;
    width: 100%;
    text-align: right;
    padding: $spacing-normal;
}

.nav__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  border-top :$spacing-small solid $color-primary;
  border-bottom: $spacing-tiny solid $color-primary;
  background-color: rgba(black, 0.025);
}

.nav__link {
    display: block;
    padding: $spacing-small;
    margin: 0;
    color: $black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $font-size-tiny;
    font-family: $fonts-headers;
    &:hover {
        color: $color-primary;
        text-decoration: none;
    }
    + .nav__link {
      padding-left: $spacing-small;
      marignl-left: $spacing-small;
    }
}
