
//
// VARIABLES
//

// Colors
$color-primary: #E65100;
$color-primary-light: #FFCC80;
$color-primary-dark: #BF360C;

$color-background: #fefefe;
$color-text: #333;
$color-header: #222;

// Black and white
$black: #222;
$white: #fafafa;

// Font stacks
$fonts-general: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$fonts-headers: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Spacing and sizing
$spacing-normal: 1.5rem;
$spacing-tiny: $spacing-normal / 3;
$spacing-small: $spacing-normal / 2;
$spacing-large: $spacing-normal * 2;

$font-size-tiny:  0.64em;
$font-size-small: 0.8em;
$font-size-normal: 1rem;
$font-size-large: 1.25em;
$font-size-larger: 1.563em;
$font-size-huge: 1.953em;

$max-width: 940px;

// Mobile breakpoint
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Useful mixins
@mixin height($height: 1) {
  $blur: $height * 2;
  box-shadow: #{$height}px #{$height}px #{$blur}px #{$blur}px rgba($black, .05);
}
